.dropdown-toggle:after {
	display: none;
}

.header-icon-notification {
	font-size: 24px;
}

.icon-notification-item {
	width: 30px;
}

.notification-box {
	max-width: 700px;
}

.notification-item {
	padding: 3px 5px;
	font-size: 14px;
	top: auto;
	white-space: normal;
}

.notification-badge:before {
	margin-left: -24px;
	position: relative;
    display: inline-block;
    font-weight: bold;
    background-color: #f00;
    border-radius: 50%;
    font-size: 14px;
	min-width: 24px;
    line-height: 1;
	text-align: center;
    padding: 3px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 3px #999;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    content: attr(data-notification);
}

a {
	color: #666;
}

a:hover, a:focus {
	text-decoration: none;
	color: #333;
}

textarea {
	min-height: 150px;
}

footer {
	text-align: center;
	margin-bottom: 50px;
	color: #999;
}

code {
	padding: 2px 4px;
	border-radius: 4px;
    color: #006a96;
    background-color: #e2e6e6;
}

pre code {
	border-radius: 4px;
	white-space: pre;
    word-wrap: normal;
    font-size: 14px;
}

img {
	max-width: 100%;
}

.clear {
	clear: both;
}

.header-icon {
	vertical-align: center;
	font-size: 24px;
	margin: 3px;
}

.header-icon-img {
	vertical-align: sub;
}

.nav-header {
	background-color: rgba(125, 98, 54, 0.85);
	position: fixed;
	width: 100%;
	z-index: 10;
	background-image: url(/image/shuhari.svg);
    background-repeat: no-repeat;
    background-position: 20% 0%;
}

.nav-header > a {
	color: #fff;
	margin-left: 2%;
}

.nav-icons {
	margin-top: 12px;
	float: right;
	margin-right: 10%;
}

.nav-icons > a {
	color: #fff;
	margin: 10px;
}

.form-search {
	max-width: 300px;
	padding: 8px;
}

.page-body {
	padding-top: 80px;
}

.nav-header > a.logo {
	margin-left: 10%;
	font-size: 2em;
}

.inline-wrapper {
	display: inline;
}

.flex-wrapper {
	display: flex;
}

.uname {
	font-weight: bold;
	color: #2ab27b;
}

.uname-anonymous {
	color: #2ab27b;
}

#uploader {
	display: none;
}

.pager {
	border: solid 1px;
    border-radius: 3px;
    padding: 8px;
    margin: 3px;
	font-family: monospace;
}

.pager-wrapper {
	text-align: center;
}

footer {
    text-align: center;
    margin-bottom: 50px;
    color: #999;
}

.deleted {
	color: #808080;
}

.post-edit-link {
	margin-left: 10px;
	color: #666;
}

.post-delete-link {
	margin-left: 10px;
	color: #f37575;
}

.post-nameholder {
	margin-left: 10px;
	margin-bottom: 10px;
}

.post-info {
	margin-bottom: 10px;
}

.post-body {
    position: relative;
    display: inline-block;
    margin: 1.5em 0 0 15px;
    padding: 15px 30px;
    min-width: 120px;
    color: #555;
    font-size: 16px;
    background: #FFF;
    border: solid 1px rgb(125, 98, 54);
    box-sizing: border-box;
    border-radius: 5px;
	word-wrap: break-word;
}

.post-body:before {
    content: "";
    position: absolute;
    top: 30px;
    left: -24px;
    margin-top: -12px;
    border: 12px solid transparent;
    border-right: 12px solid #FFF;
    z-index: 2;
}

.post-body:after {
    content: "";
    position: absolute;
    top: 30px;
    left: -27px;
    margin-top: -14px;
    border: 14px solid transparent;
    border-right: 14px solid rgb(125, 98, 54);
    z-index: -1;
}

.post-body div p a {
	color: #549eda;
}

.post-body div p a:hover {
	color: #3d719a;
}


.post-cat {
	position: relative;
	float: left;
	top: 24px;
}

.post-toolbar {
    margin-top: -17px;
    margin-bottom: 17px;	
}

.post-modal-dialog {
	max-width: 90%;
}

.post-modal-content {
	padding: 20px;
}

.post-modified-flag {
	cursor: pointer;
	margin-left: 0px;
}

.icon-upload {
	width: 150px;
	cursor: pointer;
	background: #fff;
}

.icon-upload:hover {
	opacity: 0.6;
	background: #ccc;
}

.user-info {
	margin-top: 20px;
	margin-bottom: 10px;
}

.user-icon {
	float: left;
	margin-right: 20px;
}

.user-name-h3 {
	float: left;
	margin-right: 20px;
}

button.user-follow-button {
	padding: 5px 10px;
}

form.user-follow-form {
	display: none;
}

.user-profile {
	margin-top: 20px;
}

table.user-recent-activities {
	width: 100%;
}

tr.user-act-row {
}

td.user-act-data {
	padding: 7px;
}


@media screen and (min-width: 1200px) {
	.post-body {
		width: 1000px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
	.post-body {
		width: 792px;
	}	
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.post-body {
		width: 568px;
	}
}

@media screen and (min-width: 550px) and (max-width: 768px) {
	.post-body {
		width: 400px;
	}

	.notification-box {
		max-width: 500px;
	}
}

@media screen and (max-width: 550px) {
	.nav-header > a.logo {
		margin-left: 10px;
		margin-right: 0;
	}

	.nav-icons {
		margin-right: 10px;
	}

	.nav-icons > a {
		color: #fff;
		margin: 4px;
	}

	.post-body {
		width: 100%;
		border: none;
		margin: 0;
		margin-bottom: 16px;
		padding: 0;
	}

	.post-body:before {
		content: none;
	}

	.post-body:after {
		content: none;
	}

	.post-cat {
		display: none;
	}

	.notification-box {
		max-width: 330px;
	}
}
