a {
	color: #666;
}

a:hover, a:focus {
	text-decoration: none;
	color: #333;
}

textarea {
	min-height: 150px;
}

footer {
	text-align: center;
	margin-bottom: 50px;
	color: #999;
}

code {
	padding: 2px 4px;
	border-radius: 4px;
    color: #006a96;
    background-color: #e2e6e6;
}

pre code {
	border-radius: 4px;
	white-space: pre;
    word-wrap: normal;
    font-size: 14px;
}

.header-icon {
	vertical-align: center;
	font-size: 24px;
	margin: 3px;
}

.nav-header {
	background-color: rgba(0, 145, 175, 0.85);
	position: fixed;
	width: 100%;
	z-index: 10;
}

.nav-header > a {
	color: #fff;
	margin-left: 2%;
}

.nav-icons {
	margin-top: 12px;
	float: right;
	margin-right: 10%;
}

.nav-icons > a {
	color: #fff;
	margin: 10px;
}

.form-search {
	max-width: 300px;
	padding: 8px;
}

.page-body {
	padding-top: 80px;
}

.nav-header > a.logo {
	margin-left: 10%;
	font-size: 2em;
}

.inline-wrapper {
	display: inline;
}

.flex-wrapper {
	display: flex;
}

.uname {
	font-weight: bold;
	color: #2ab27b;
}

.pager {
	border: solid 1px;
    border-radius: 3px;
    padding: 8px;
    margin: 3px;
	font-family: monospace;
}

footer {
    text-align: center;
    margin-bottom: 50px;
    color: #999;
}

.deleted {
	color: #808080;
}

.post-edit-link {
	margin-left: 10px;
	color: #666;
}

.post-delete-link {
	margin-left: 10px;
	color: #f37575;
}

.post-nameholder {
	margin-left: 10px;
	margin-bottom: 10px;
}

.post-body {
    position: relative;
    display: inline-block;
    margin: 1.5em 0 1.5em 15px;
    padding: 15px 30px;
    min-width: 120px;
    color: #555;
    font-size: 16px;
    background: #FFF;
    border: solid 1px rgb(0, 145, 175);
    box-sizing: border-box;
    border-radius: 5px;
	word-wrap: break-word;
}

.post-body:before {
    content: "";
    position: absolute;
    top: 30px;
    left: -24px;
    margin-top: -12px;
    border: 12px solid transparent;
    border-right: 12px solid #FFF;
    z-index: 2;
}

.post-body:after {
    content: "";
    position: absolute;
    top: 30px;
    left: -27px;
    margin-top: -14px;
    border: 14px solid transparent;
    border-right: 14px solid rgb(0, 145, 175);
    z-index: -1;
}


.post-cat {
	position: relative;
	float: left;
	top: 24px;
}


@media screen and (min-width: 1200px) {
	.post-body {
		width: 1000px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
	.post-body {
		width: 792px;
	}	
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.post-body {
		width: 568px;
	}
}

@media screen and (min-width: 550px) and (max-width: 768px) {
	.post-body {
		width: 400px;
	}
}

@media screen and (max-width: 550px) {
	.nav-header > a.logo {
		margin-left: 10px;
		margin-right: 0;
	}

	.nav-icons {
		margin-right: 10px;
	}

	.nav-icons > a {
		color: #fff;
		margin: 4px;
	}

	.post-body {
		width: 100%;
		border: none;
		margin: 0;
	}

	.post-body:before {
		content: none;
	}

	.post-body:after {
		content: none;
	}

	.post-cat {
		display: none;
	}
}
